@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
@import url('https://fonts.google.com/specimen/Micro+5+Charted');

/* h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 40px;
} */

body{
  background-color: #ccfc7a;
  font-family: 'Micro 5 Charted', sans-serif;
  font-weight: 300;
}


nav li{
  padding: 10px;
  border: solid black 5px;
  display: inline-block;
  background-color: rgb(107, 232, 232);

}

a{
	text-align: center;
	text-decoration: none;
  color: black;
}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-1;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

.board {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
	grid-auto-rows: minmax(100px, auto);
	width: 80%;
	border-style: solid;
	border-width: 3px;
  padding: 20px;
	/* border-color: green; */
  }

  .square {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Lacquer', sans-serif;
    padding-top: 30px;
    font-size: 200px;
    aspect-ratio: 1;
    line-height: 100px; /* Adjust to match the height of your cell */
  }
  .square.red {
    background-color: pink;
  }

  .square.black{
    background-color: black;
	  color: white;
  }
  footer{
    background-image: repeating-linear-gradient(#CFEBB6, #B9E192 25%, #B3C7F7 65%, #F8B8D0 80%, #F194B8);
    border-style: solid;
    border-color:#ffffff;
    border-width: 5px;
}

  footer p{
    font-size: 20px;
    text-align: right;
    padding: 15px;
    padding-left: 0px;
}

/* .board > div {
    background-color: blue;
	padding-top: calc(33.33% - 4px);
	width: calc(33.33% - 4px);
} */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  width: 150px; /* Adjust size as needed */
}

.container{
  border: solid blue 5px;
  display: flex;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color:  rgb(107, 232, 232);
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: blue;
}

.scoreboard{
  width:20%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

/* .player-mode-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    justify-content: center;
    margin: 0px;
  } */
  /* FIXME */

  .message{
    text-align: center;
    height: 90%;
    justify-content: center;
    align-items: center;
    grid-row: 2;
    display: flex;
    width: 100%;
    height: 100%;
  }

  .selected-player{
    font-weight: 500;
    border: solid black 5pt;
  }

  